* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  color: #16507b;
}

.logo h2 {
  font-weight: normal;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  padding: 0 10px;
  color: #124265;
  font-size: 18px;
  text-decoration: none;
}

.menu a:hover {
  color: #007bff;
}

.btn-login {
  background-color: rgb(22, 129, 209);
  color: #fff !important;
  padding: 10px 20px !important;
  border-radius: 5px;
  margin-left: 15px;
}

#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

#main-title h1 {
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  color: rgb(21, 70, 111);
}

#main-title p {
  padding-bottom: 20px;
}

#cards {
  display: flex;
  justify-content: space-around;

  margin-top: 70px;
}

.card {
  width: 22%;
  height: 250px;
  padding: 20px;
  -webkit-box-shadow: 11px 11px 12px 0px rgba(224, 224, 224, 1);
  -moz-box-shadow: 11px 11px 12px 0px rgba(224, 224, 224, 1);
  box-shadow: 11px 11px 12px 0px rgba(224, 224, 224, 1);
}

.card h4 {
  color: rgb(21, 70, 111);
  padding: 10px 0;
}

.card i {
  color: #007bff;
}

.card p {
  text-align: left;
}

#about {
  height: 500px;
  padding-top: 150px;
}

#about-header {
  text-align: center;
  padding-bottom: 15px;
}

#descriptions {
  display: flex;
  justify-content: space-around;
}

#description {
  width: 47%;
  position: relative;
}

#description p {
  margin-bottom: 10px;
}

.btn-learn {
  background-color: #fff;
  color: #16507b !important;
  padding: 10px 20px !important;
  border: 2px solid #16507b;
  border-radius: 5px;
  position: absolute;
}

#about-header h1 {
  color: rgb(21, 70, 111);
  font-weight: normal;
}

#about-header p {
  color: rgb(156, 154, 154);
}

footer {
  background-color: rgb(244, 247, 250);
}

footer .center {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  color: rgb(21, 70, 111);
}

.valor {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.descricao {
  text-align: center;
}
